<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom px-5"
>
  <div class="col-md-3 mb-2 mb-md-0">
    <a
      [routerLink]="['/']"
      class="d-inline-flex link-body-emphasis text-decoration-none"
    >
      <img
        src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-black.svg"
        alt="Bootstrap Logo"
        width="40"
        height="32"
      />
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="['active']"
        class="nav-link px-2 link-secondary"
        >Home</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/products']"
        routerLinkActive="['active']"
        class="nav-link px-2 link-secondary"
        >Products</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/categories']"
        routerLinkActive="['active']"
        class="nav-link px-2 link-secondary"
        >Categories</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/about']"
        routerLinkActive="['active']"
        class="nav-link px-2 link-secondary"
        >About</a
      >
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <a [routerLink]="['/login']" class="btn btn-outline-primary me-2">Login</a>
    <a [routerLink]="['/login']" class="btn btn-primary">Sign-up</a>
  </div>
</header>
