<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">SuperMaket</h1>
      <p class="lead text-body-secondary">
        Shop fresh groceries, household essentials, and more, all delivered to
        your doorstep. Enjoy unbeatable prices, daily deals, and the convenience
        of shopping from home!
      </p>
      <p>
        <a [routerLink]="['#']" class="btn btn-primary m-2">SHOW PRODUCTS</a>
        <a [routerLink]="['/categories']" class="btn btn-secondary m-2"
          >SHOW CATEGORIES</a
        >
      </p>
    </div>
  </div>
</section>
