<div class="container mt-4">
  <div class="row">
    <!-- Image Section -->
    <div class="col-md-7">
      <img
        src="blob:http://localhost:5173/2ceafe68-3118-429b-8fb1-7f4001be9def"
        class="img-fluid"
        alt="Hacendado Mediterranean fruit + milk" />
    </div>
    <!-- Product Details Section -->
    <div class="col-md-4">
      <h2 class="fw-bold">{{ product ? product.name : 'NO NAME' }}</h2>
      <p class="text-muted">
        {{ product ? product.description : 'NO DESCRIPTION' }}
      </p>
      <h2 class="fw-bold text-success">2.8/unit</h2>
      <button class="btn btn-warning btn-lg w-100 mt-3">Add to cart</button>
    </div>
  </div>
</div>
